<!DOCTYPE html>
<html>
<head>
<title>RentaForm</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/css/friend_style.css">

</head>
<body id="myPage">

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
    <a href="#" id="home" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i></a>
    <a href="#pricing" id="profile" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Profile</a>
    <a href="#friend" class="w3-bar-item w3-button w3-hide-small w3-hover-white" id="friend">Friend</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-button" title="Notifications">Analytics <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="#" id="1" class="w3-bar-item w3-button">1</a>
        <a href="#" id="2" class="w3-bar-item w3-button">2</a>
        <a href="#" id="3" class="w3-bar-item w3-button">3</a>
      </div>
    </div>
    <a href="#logout" id="logout" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Logout</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" id="lente" title="Search"><i class="fa fa-search"></i></a>
    <input class="w3-bar-item w3-hide-small w3-right w3-hover-teal" id="searchUser" placeholder="Search user..."></input>
  </div>
</div>

<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-quarter">
        <br><br><br>
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="../../static/img/user.png" style="padding:auto" alt="Avatar">
            <div class="w3-display-bottomleft w3-container w3-text-black">
            </div>
          </div>
          <div class="w3-container">
            <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"><p id="firstName"></p></i></p>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"><p id="work"></p></i></p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"><p id="address"></p></i></p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"><p id="email"></p></i></p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"><p id="phone"></p></i></p>
            <hr>
          </div>
        </div><br>
  
      <!-- End Left Column -->
      </div>
  
      <!-- Right Column -->
      <div class="w3-twothird">
        <br><br>
        <div class="w3-container w3-card w3-white w3-margin-bottom w3-center">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Followed Users</h2>
          <div class="w3-row">
            <input type="text" placeholder="Search.." id="followed_input" style="width: 50%;">
            <select name="order" id="followed_order" onchange="change_param()">
                <option value="1">Alfabetic ascending</option>
                <option value="2">Alfabetic discending</option>
            </select>
            <div class="w3-container">
              <div class="w3-card w3-margin">
                <ul class="w3-ul w3-hoverable w3-white"  id="list"></ul>
              </div>
              <hr>
            </div>
          </div>  
          <a href="#" class="previous round" id="previous">&#8249;</a>
          <a href="#" class="next round" id="next" >&#8250;</a>
        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom w3-center">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Followers</h2>
          <div class="w3-row">
            <input type="text" placeholder="Search.." id="follower_input" style="width: 50%;">
            <select name="order" id="follower_order" onchange="change_param2()">
                <option value="1">Alfabetic ascending</option>
                <option value="2">Alfabetic discending</option>
            </select>
            <div class="w3-container">
              <div class="w3-card w3-margin">
                <ul class="w3-ul w3-hoverable w3-white"  id="follower_list"></ul>
              </div>
              <hr>
            </div>
          </div> 
          <a href="#" class="previous round" id="previous_follower">&#8249;</a>
          <a href="#" class="next round" id="next_follower" >&#8250;</a>
        </div>
      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
    <!-- End Page Container -->
  </div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
</footer>
<script src="https://code.jquery.com/jquery-3.4.0.min.js" type="text/javascript"></script>
<script src="../../static/js/User/friendPage.js"></script>

</body>
</html>